/* * {
  box-sizing: border-box;
} */
body {
  background-color: burlywood;
}
form {
  display: flex;
  border: solid 2px black;
  width: 80%;
  margin: auto;
  margin-top: 10em;
  background-color: rgb(232, 239, 14);
}

#message {
  display: flex;
  flex-direction: column;
  order: 2;
  margin: 20px;
}

textarea {
  max-width: 100%;
}

#contact {
  flex: 1;
  order: 1;
  margin-right: 2em;
  margin-left: 20px;
  margin-top: 20px;
}

#contact input {
  width: 100%;
}

#contact input,
#contact button {
  padding: 1em;
  margin-bottom: 1em;
}

#contact button {
  background: gray;
  color: white;
  border: 0;
}

/* GRID  */
#container {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
  justify-content: center;
}

#containerTwo {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 620px;
  grid-gap: 10px;
  justify-content: center;
}

#one {
  background-color: red;
  border: 2px solid rgb(244, 243, 243);
}

#two {
  background-color: rgb(0, 8, 255);
  border: 2px solid black;
}

#three {
  background-color: rgb(26, 255, 0);
  border: 2px solid rgb(132, 1, 1);
}

#four {
  background-color: rgb(242, 255, 0);
  border: 2px solid rgb(37, 203, 120);
}
